*{
    margin: 0;
}
body{
    font-size: 20px;
}
header,footer{
    width: 100%;
    height: 20vh;
    background: #D9D9D9;
}
.wrapper{
    width: 100%;
    display: flex;
}
main{
    height: 60vh;
    width: 70%;
    background: #917A7A;
}
aside{
    height: 60vh;
    width: 30%;
    background: #7A917D;
}
section{
    display: none;
}
header p::after{
    content: "desktop";
}
main, aside, footer{
    font-size: 1.3em;
}