*{
    margin: 0;
    padding: 0;
}
.rectangle{
    height: 155px;
    /*border-radius: 49px;*/
    border: 10px solid #475842;
    background: #D2C0C0;
    box-shadow: 0 4px 4px 0 rgba(93, 111, 107, 0.25);
    /*margin: 116px auto 0 auto;*/
}