@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1E1E1E;
}
.w-1340{
    width: 1340px;
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
}
nav{
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;

}
ul a{
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    text-decoration: none;
}
.nav__active-link{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 203px;
    height: 60px;
    background: #B3A0CD;
    color: #1E1E1E;
}
/*-------------------------------*/
.header-title{
    width: 1255px;
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 107.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    margin: 72px auto 33px auto;
}
.header-img{
    display: block;
    margin: 0 auto;
}